$border-color: rgb(170, 170, 170);
$default-text-color: rgb(100, 100, 100);
$green: #58d37b;

.partner-profile {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 700px;
  margin: 66px 0 0 0;
  background-color: white;

  & .carousel {
    & .carousel-indicators {
      z-index: 5;
      & li {
        width: 3vw;
        max-width: 20px;
      }
    }
    & .carousel-control-prev span,
    & .carousel-control-next span {
      background-color: black;
      border-radius: 50%;
      box-shadow: 0 0 0 10px black;
    }
    & .carousel-inner {
      & .carousel-item {
        max-height: 500px;
        height: 500px;
        overflow: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
      }

      & .carousel-item-left,
      & .carousel-item-right,
      & .active {
        display: flex !important;
      }

      & img {
        width: 100%;
        height: AUTO;
      }
    }
  }
  & .content-navigator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-self: center;
    padding: 20px;
    direction: ltr;
    min-height: 90px;
    & .items-wrapper {
      flex-direction: row;
      display: flex;
      height: auto;
      z-index: 1010;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      &.fixed {
        position: fixed;
        top: 80px;
        box-shadow: 0 0 8px -2px grey;
      }
    }
    & .tab {
      background-color: white;
      border: 1px solid #aaaaaa;
      border-left-width: 0;
      border-right-width: 0;
      transition: all 0.15s ease-in;
      -webkit-transition: all 0.15s ease-in;
      -moz-transition: all 0.15s ease-in;
      -o-transition: all 0.15s ease-in;
      -ms-transition: all 0.15s ease-in;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 40px;
      max-height: 40px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: $default-text-color;
      padding: 25px 40px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box;
      &:last-child {
        border-radius: 0 5px 5px 0;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 0;
      }
      &:first-child {
        border-top-width: 1px;
        border-right-width: 0;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-radius: 5px 0 0 5px;
      }
      &.hoverable:hover {
        cursor: pointer;
        border-bottom-width: 8px !important;
        border-bottom-color: $green;
        padding-bottom: 18px;
      }
      &.active {
        cursor: pointer;
        border-bottom-width: 8px !important;
        border-bottom-color: $green;
        padding-bottom: 18px !important;
      }
    }
  }
  & .partner-information {
    display: flex;
    flex-direction: column;
    width: 1024px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    align-self: center;
    justify-content: flex-start;
    text-align: left;
    direction: ltr;
    & .title {
      font-size: 25px;
      font-weight: bold;
    }

    & .verified {
      padding: 10px 5px 0 0;
      width: 130px;
      font-weight: bold;
      font-size: 16px;
      direction: ltr;
      color: $green;
    }
    & .address {
      color: $default-text-color;
      padding: 10px 15px 0 0;
      width: fit-content;
      font-weight: bold;
      font-size: 16px;
    }

    & .social-networks {
      padding: auto 8px;
      & a {
        margin: auto 10px;
        &.twitter:hover {
          & svg {
            color: #00acee;
          }
        }
        &.linkedin:hover {
          & svg {
            color: #0077b5;
          }
        }
        &.instagram:hover {
          & svg {
            color: #e1306c;
          }
        }
      }
    }
  }

  & .nav-section {
    font-size: 17px;
    margin-top: 15px;
    width: 100%;
    align-self: center;
    padding: 10px calc((100% - 1024px) / 2);
    direction: ltr;
    text-align: left;
    color: $default-text-color;

    &:nth-child(2n + 1) {
      background-color: whitesmoke;
    }
    & .section-title {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      width: auto;
      padding: 20px 5px;
      & p {
        margin: 0 !important;
      }
      & svg {
        background-color: lightgrey;
        margin: 0 18px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px lightgrey;
        width: 27px;
        height: 25px;
      }
    }
  }
  & .overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    & > * {
      margin: 10px;
    }
    & .working-hours {
      border: 1px solid $border-color;
      border-radius: 5px;

      ul {
        margin: 0;
        list-style: none;
        width: 192px;
        padding: 12px;
        & li.title {
          font-weight: bold;
        }
        & li:not(.title) {
          margin-top: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  & .partner-products {
    table {
      & td,
      & th {
        vertical-align: middle;
        text-align: center;
      }
      & tr td .reserve-button {
        border: 2px solid $green;
        border-radius: 4px;
        background-color: white;
        color: $green;
        font-weight: bold;
        padding: 5px 15px;
        outline: none;
        &:hover {
          color: white;
          background-color: $green;
        }
      }
    }
  }
  & .partner-facilities {
    & .facilities-detail {
      width: 100%;
      border: 1px solid lightgrey;
      border-radius: 5px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li {
          padding: 15px 15px;
          width: auto;
          flex-grow: 1;
          width: 33%;
          max-width: 33%;
          display: inherit;
          svg {
            padding: 0 5px;
            box-sizing: initial;
          }
        }
      }
    }
  }
  & .partner-address {
    & .section-title {
      svg {
        margin: 10px 18px;
      }
      span {
        display: inline-block;
        p {
          font-weight: normal;
          font-size: 15px;
        }
      }
    }
    & .map {
      overflow-y: hidden;
      box-shadow: 0 0px 5px -1px grey;
      border-radius: 5px;
      &:hover {
        & .map-img {
          cursor: pointer;
        }
      }
    }
  }
  & .textelement-placeholder {
    display: block;
    width: 100%;
    text-align: center;
    color: gray;
  }
}

@media (max-width: 1024px) {
  .partner-profile {
    & .content-navigator {
      & .tab {
        width: auto !important;
        padding: 25px 6vw;
      }
    }
    & .partner-information {
      width: 100%;
    }
    & .nav-section {
      width: 100%;
      padding: 10px 10px;
    }
    & .partner-address {
      & .map {
        margin: -10px;
      }
    }
  }
}
@media (max-width: 767.9px) {
  .partner-profile {
    & .content-navigator {
      display: none;
    }
    & .partner-address {
      & .map {
        border-radius: 0;
      }
    }
  }
}
@media (max-width: 768px) {
  .partner-profile {
    margin: 60px 0 0 0;
    & .partner-facilities {
      & .facilities-detail {
        & ul {
          & li {
            width: 50%;
            max-width: 50%;
          }
        }
      }
    }
    & .carousel {
      & .carousel-inner {
        .carousel-item {
          max-height: 400px;
          height: 400px;
        }
      }
    }
    & .content-navigator {
      & .tab {
        width: auto !important;
        padding: 25px 5vw;
      }
    }

    & .partner-address {
      & .map {
        height: 400px;
      }
    }
  }
}
@media (max-width: 576px) {
  .partner-profile {
    & .partner-facilities {
      & .facilities-detail {
        & ul {
          & li {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
    & .carousel {
      & .carousel-inner {
        .carousel-item {
          max-height: 300px;
          height: 300px;
        }
      }
    }
    & .content-navigator {
      & .tab {
        padding: 25px calc(5vw - 2%) !important;
        font-size: 17px;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
      }
    }
    & .overview.nav-section {
      align-items: center;
      flex-direction: column;
      margin-top: 0;
      p {
        font-size: 16px;
      }
      & .working-hours {
        width: 95vw;
        ul {
          width: 100%;
          padding: 12px;
          display: flex;
          flex-direction: row;
          flex: 1 1 100%;
          flex-flow: wrap;
          & li.title {
            width: 100%;
          }
          & li:not(.title) {
            width: auto;
            flex-grow: 1;
          }
        }
      }
    }
    & .partner-address {
      & .map {
        height: 300px;
      }
    }
  }
}
@media (max-width: 425px) {
  .partner-profile {
    & .carousel {
      & .carousel-inner {
        .carousel-item {
          max-height: 200px;
          height: 200px;
        }
      }
    }
    & .content-navigator {
      & .tab {
        width: auto !important;
        padding: 25px calc(5vw - 3%) !important;
        font-size: 14px;
      }
    }
  }
}

//-------------------------------//
//           RTL STYLES          //
//-------------------------------//
._rtl {
  &.partner-profile {
    & .content-navigator {
      direction: rtl;
      & .items-wrapper {
        flex-direction: row;
      }
      & .tab {
        &:last-child {
          border-radius: 5px 0 0 5px;
          border-top-width: 1px;
          border-right-width: 0;
          border-bottom-width: 1px;
          border-left-width: 1px;
        }
        &:first-child {
          border-top-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-left-width: 0;
          border-radius: 0 5px 5px 0;
        }
      }
    }
    & .nav-section {
      text-align: right;
      direction: rtl;
    }
    & .partner-information {
      text-align: right;
      direction: rtl;
      & .verified {
        direction: rtl;
      }
    }
  }
}
