#addProduct {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  & .addProduct-step.-step1 {
    width: 100%;
    & .product-items {
      justify-content: center;
      align-items: center;
    }
  }
  & .addProduct-step.-step2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    & #about {
      width: 96%;
      & textarea {
        min-height: 82px;
        font-size: 13px;
      }
    }
    & .inline-row {
      width: 96%;
      margin: auto;
      display: inline-flex;
      justify-content: space-around;
      & .field-row {
        flex-grow: 2;
      }
      & .image-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 0.3;
        & img {
          width: 100px;
          height: 100px;
        }
      }
    }
    & .field-row {
      width: 262px;
      margin-bottom: 0;
      margin-top: 0;
      align-self: flex-start;
      & .FlatTimePicker {
        margin-top: 7px;
      }
      & .input-wrapper {
        margin-top: 0 !important;
      }
      & .flatuploader {
        height: 100px;
      }
      & input {
        font-size: 15px;
        text-align: center !important;
        letter-spacing: 0;
        display: block;
        width: 335px !important;
        margin: auto;
        font-weight: normal;
        border-width: 1px !important;
      }
      & textarea {
        min-height: 120px;
        padding: 10px;
      }
    }
  }
}
