.partner-products-section {
  & .form-card {
    width: 1100px;
    & .card-header {
      align-items: center;
      justify-content: space-between;
      display: flex;
    }
  }
  & .table {
    & th {
      text-align: center;
    }
    & td {
      vertical-align: middle;
      text-align: center;
      & .product-image {
        width: 100px;
        height: 100px;
        border-radius: 3px;
      }
    }
  }
  &._rtl {
    & .form-card {
      text-align: right;
    }
    direction: rtl;
  }
}
#addProduct-modal {
  & .modal-content {
    width: 600px;
  }
}
#deleteProduct-warning-modal {
  & .modal-header {
    & h5 {
      font-size: 1.1rem;
      font-weight: normal;
    }
    & .close {
      font-size: 1.5rem;
    }
  }
}
