.form-section {
  background-color: whitesmoke;
  min-height: calc(
    100vh - 320px
  ); //min-height of content section to fill the entire height of device screen
}
input,
textarea {
  &:not(textarea) {
    border-width: 1px !important;
  }
  border: 1px solid lightgray;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0;
  height: 44px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none !important;
  &:hover,
  &:focus {
    border-color: #6caff7;
  }
  //disable spin count buttons for number inputs
  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
input:read-only {
  cursor: not-allowed;
  background-color: rgb(235, 235, 235);
}
.form-card {
  width: 750px;
  text-align: left;
  border: none;
  box-shadow: 0px 0px 1px 0px lightgrey;
  border-radius: 1px !important;
  margin: 80px auto 10px;
  padding: 7px 20px 20px;
  .show {
    display: block !important;
    opacity: 1 !important;
  }
  .wizardForm {
    display: none;
    opacity: 0;
    transition: display 1s, opacity 0.9s linear;
  }
  .card-header {
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    background: none;
    line-height: 3.4;
    span.icon {
      background-color: #8ea3e3;
      border-radius: 50%;
      padding: 25px;
      float: left;
    }
    span.title {
      margin: auto auto auto 10px;
    }
  }
  .card-footer {
    background-color: white;
    border: none;
    .navigation-button {
      border-radius: 0 !important;
      border: none;
      padding: 7px 15px;
      font-weight: bold;
      &.next {
        float: right;
        background-color: #8ea3e3 !important;
        &[disabled] {
          cursor: not-allowed;
        }
      }
      &.prev {
        float: left;
        background-color: #8ea3e3 !important;
      }
      &.submit {
        background-color: #727fdd !important;
        border-radius: 2px !important;
        padding: 12px 28px;

        float: left;
        &[disabled] {
          cursor: not-allowed;
        }
      }
    }
  }
}
.field-row {
  &._ltr {
    direction: ltr;
    text-align: left;
    & input,
    textarea {
      direction: ltr;
    }
  }
  & input,
  textarea {
    direction: rtl;
    margin-top:9px;
  }
  direction: rtl;
  text-align: right;
  margin-bottom: 40px;
  .field-title {
    font-size: 15px;
  }
  .error-message {
    color: lightcoral;
    font-size: 12px;
    float: left;
    padding: 3px 10px;
    font-weight: bold;
    min-height: 24px;
  }
  .error-input {
    border-color: lightcoral;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 50px;
  }
  .flatinput-prefix {
    max-height: 42px;
    height: 42px;
    line-height: 2;
    margin-right: -43px;
    width: auto;
    max-width: 51px;
    min-width: 42px;
    padding: 6px;
    text-align: center;
    background-color: rgba(142, 163, 227, 0.4);
    border-radius: 1px;
    font-weight: bold;
    z-index: 1;
  }
  .has-prefix {
    padding-left: 47px;
  }
}
label.checkboxContainer {
  display: block;
  position: relative;
  margin-bottom: 12px;
  padding: 10px;
  overflow: hidden;
  border: 2px solid rgb(200, 200, 200);
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    cursor: pointer;
  }
  input:checked {
    border: 2 solid #a0f6fa;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}
//rtl layout
.rtl-layout {
  input,
  select,
  textarea {
    direction: rtl;
  }
  label {
    float: right;
  }
  .card {
    text-align: right !important;
    .card-header {
      text-align: right;
      span.icon {
        float: right;
      }
      span.title {
        margin: auto 10px auto auto;
      }
    }
    .card-footer {
      .navigation-button {
        &.next {
          float: left;
        }
        &.prev {
          float: right;
        }
      }
    }
  }
  .field-row {
    .error-message {
      float: right !important;
    }
  }
}

.customCheckbox {
  /* Customize the label (the container) */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
//checkbox styles
.hidden-checkbox {
  display: none;
}
.styled-checkbox-wrapper {
  width: auto;
  display: inline-block;
  width: 150px;
  height: 183px;
  margin: 10px;
  .styled-checkbox {
    cursor: pointer;
    background-color: rgba(232, 232, 232, 0.7);
    padding: 0;
    position: relative;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid lightgrey;
    width: 100%;
    &:after {
      content: "";
      box-sizing: content-box;
    }
    .checked-icon {
      position: absolute;
      top: -2px;
      right: -2px;
      opacity: 0.5;
      display: none;
      #tickSvg {
        width: 20px;
        position: absolute;
        right: 3px;
      }
      #polygon {
        border-radius: 0px 5px;
        position: absolute;
        right: 0;
      }
    }
    img {
      width: 150px;
      border-radius: 2px;
      position: relative;
      height: 150px;
      padding: 15px;
    }
    .title {
      font-weight: bold;
      text-align: center;
      width: 100%;
      min-width: 100%;
      margin-top: 0;
      line-height: 1;
      height: 40px;
      overflow: hidden;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.checked {
      box-shadow: 0 0 1px 3px lightgrey;
      .checked-icon {
        display: block;
      }
    }
  }
}
.inline-checkbox-wrapper {
  line-height: 1.9;
  width: auto;
  padding: 5px;

  .inline-checkbox {
    overflow: hidden;

    cursor: pointer;
    height: 44px;
    border-radius: 1px;
    width: 25%;
    box-shadow: 0 0 0 1px rgba(46, 91, 150, 0.6);
    background-color: whitesmoke;
    display: inline-flex;
    &._rtl {
      direction: rtl;
    }
    &._ltr {
      direction: ltr;
    }
    .key {
      width: 40px;
      display: inline-flex;
      text-align: center;
      span {
        width: 40px;
        border: 1px solid rgba(46, 91, 150, 0.4);
        background-color: rgba(142, 163, 227, 0.4);
        margin: 4px;
        display: block;
        border-radius: 1px;
        font-size: 16px;
        line-height: 2.3;
      }
    }
    .title {
      width: 100%;
      display: inline-flex;
      text-align: center;
      max-width: auto;
      overflow: hidden;
      height: 44px;
      font-size: 14.5px !important;
      line-height: 3 !important;
    }
    .checked-icon {
      width: 22px;
      min-width: 22px;
      max-width: 22px;
      display: inline-flex;
      #tickSvg {
        margin: auto;
        display: none;
        width: 13px;
        margin: auto;
      }
    }
    &.checked {
      box-shadow: 0 0 0px 1px rgba(46, 91, 150, 0.7);
      .key {
        span {
          background-color: rgb(46, 91, 150);
          color: white;
        }
      }
      .checked-icon {
        #tickSvg {
          display: inline-flex;
        }
      }
    }
    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }
}
//Wrapper checbox component styles
.CheckBoxRow {
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

//responsive style
@media (max-width: 768px) {
  .form-section {
    min-height: calc(
      100vh - 89px
    ); //min-height calculation for tablets to large mobiles
  }
  .form-card {
    margin: 70px 10px 10px;
    padding: 5px;
    .show {
      display: block !important;
      opacity: 1 !important;
    }
    .wizardForm {
      display: none;
      opacity: 0;
      transition: display 1s, opacity 0.9s linear;
    }
    .card-header {
      font-weight: bold;
      color: #333;
      border-bottom: 1px solid rgba(200, 200, 200, 0.3);
      background: none;
      line-height: 3.4;
      span.icon {
        background-color: #8ea3e3;
        border-radius: 50%;
        padding: 25px;
        float: left;
      }
      span.title {
        margin: auto auto auto 10px;
      }
    }
    .card-footer {
      background-color: white;
      border: none;
      .navigation-button {
        border-radius: 0 !important;
        border: none;
        padding: 7px 15px;
        font-weight: bold;
        &.next {
          float: right;
          background-color: #8ea3e3 !important;
          &[disabled] {
            cursor: not-allowed;
          }
        }
        &.prev {
          float: left;
          background-color: #8ea3e3 !important;
        }
        &.submit {
          background-color: #727fdd !important;
          border-radius: 2px !important;
          padding: 8px 28px;
          float: left;
          &[disabled] {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

//Select component styles
.hidden-checkbox {
  display: none;
}
.inline-checkbox-wrapper {
  line-height: 1.9;
  width: 25%;
  padding: 5px;
  .inline-checkbox {
    overflow: hidden;
    flex-grow: 1;
    cursor: pointer;
    height: 44px;
    border-radius: 1px;
    width: 100%;
    box-shadow: 0 0 0 1px rgba(46, 91, 150, 0.6);
    background-color: whitesmoke;
    display: inline-flex;
    .key {
      width: 44px;
      display: inline-flex;
      text-align: center;
      span {
        width: 40px;
        border: 1px solid rgba(46, 91, 150, 0.4);
        background-color: rgba(142, 163, 227, 0.4);
        margin: 4px;
        display: block;
        border-radius: 1px;
        font-size: 16px;
      }
    }
    .title {
      width: 100%;
      display: inline-flex;
      text-align: center;
      max-width: auto;
      overflow: hidden;
      height: 44px;
      font-size: 15px;
      line-height: 2.8;
    }
    .checked-icon {
      width: 22px;
      min-width: 22px;
      max-width: 22px;
      display: inline-flex;
      #tickSvg {
        margin: auto;
        display: none;
        width: 13px;
        margin: auto;
      }
    }
    &.checked {
      box-shadow: 0 0 0px 1px rgba(46, 91, 150, 0.7);
      .key {
        span {
          background-color: rgb(46, 91, 150);
          color: white;
          font-weight: bold;
        }
      }
      .checked-icon {
        #tickSvg {
          display: inline-flex;
        }
      }
    }
    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }
}
//Wrapper checbox component styles
.CheckBoxRow {
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

//number range set styles
.number-range-buttons-container {
  select,
  input,
  button {
    border-radius: 0;
  }
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  &._rtl {
    direction: rtl;
    & .sets {
      &:first-child {
        border-radius: 0px 1px 1px 0px ;
      }
      &:last-child {
        border-radius: 1px 0px 0px 1px ;
      }
    }
  }
  &._ltr {
    direction: ltr;
    & .sets {
      &:first-child {
        border-radius: 1px 0px 0px 1px ;
      }
      &:last-child {
        border-radius: 0px 1px 1px 0px ;
      }
    }
  }
  & .sets {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid lightgrey !important;
    // &:not(:first-child),
    &._ltr{
      &:not(:last-child) {
        border-right: none !important;
        border-radius: none;
      }
    }
    &._rtl{
      &:not(:last-child) {
        border-left: none !important;
        border-radius: none;
      }

    }
    background-color: transparent;
    color: black;
    padding: 9px 12px 7px;
    outline: none;
    width: auto;
    min-width: 10%;
    &:hover {
      background-color: whitesmoke;
    }
    // &:first-child {
    //   border-radius: 1px 0 0 1px !important;
    // }
    // &:last-child {
    //   border-radius: 0 1px 1px 0 !important;
    // }
  }
  .active {
    background-color: rgba(142, 163, 227, 0.4) !important;
    font-weight: bold;
  }
}

//Flat Uploader
.flatuploader {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding: 1rem 1rem;
  border: 1px solid rgba(46, 91, 150, 0.6);
  background-color: whitesmoke;
  direction: rtl;
  border-radius: 1px;
  margin-top:10px;
  .percentage-number {
    font-size: 17px;
    width: 45px;
    font-weight: bold;
  }
  .cloud-icon {
    cursor: pointer;
  }
  .success-icon {
    display: none;
  }
  .file-name-section {
    direction: ltr;
    padding: 0 5px;
    width: 42%;
    text-align: center;
    max-width: calc(0.42 * 620px);
    max-height: 54px;
    overflow: hidden;
    font-size: 13px;
  }

  .file-select-button {
    padding: 0.25rem 0.5rem;
    border: 1px solid rgba(46, 91, 150, 0.6);
    border-radius: 1px;
    background-color: rgba(142, 163, 227, 0.4);
    cursor: pointer;
    &:hover {
      background-color: rgba(142, 163, 227, 0.6);
    }
    .placeholder {
      font-size: 0.8rem;
    }
  }
}
.success-upload {
  .success-icon {
    display: block !important;
  }
  .cloud-icon {
    display: none !important;
  }
}

//Flat Date and Time
.dateWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #e6e6e6;
  border-radius: 6px !important;
  width: fit-content;
  padding: 5px;
  box-shadow: 0 0 0 1px rgba(46, 91, 150, 0.6) !important;
  input {
    padding: 0;
    margin: 3px;
    width: 70px;
    text-align: center;
    font-size: 18px;
    padding: 4px 0 0 0;
    height: auto;
    border-radius: 3px !important;
    border: 1px solid rgba(46, 91, 150, 0.4);
    background-color: rgba(142, 163, 227, 0.4);
    .year {
      width: 100px;
    }
  }
}
.timeWrapper {
  @extend .dateWrapper;
}
@media (max-width: 768px) {
  .form-section {
    min-height: calc(100vh - 49px); //min-height calculation for small mobiles
  }
  .inline-checkbox-wrapper {
    width: 33.3%;
  }
}
@media (max-width: 576px) {
  .form-section {
    min-height: calc(100vh - 49px); //min-height calculation for small mobiles
  }
  .inline-checkbox-wrapper {
    width: 50%;
  }
}
@media (max-width: 410px) {
  .flatuploader {
    .file-name-section {
      display: none;
    }
  }
  .inline-checkbox-wrapper {
    width: 100%;
  }
}

//responsive styles section
@media (max-width: 320px) {
  .flatuploader {
    padding: 1rem 1rem;
  }
  .inline-checkbox-wrapper {
    width: 100%;
  }
}
