.partner-profile-section {
  & *:disabled {
    cursor: not-allowed;
  }
  & .form-card {
    width: 880px;
    text-align: left;
    min-height: 600px;
    & .contentSection {
      display: none;
      flex-direction: row;
      flex-wrap: wrap;
    }
    & .contentSection.displaySection {
      display: flex !important;
    }
    & #overview {
      min-width: 100%;
    }
    & .card-header {
      overflow-y: auto;
      & .card-header-nav {
        display: flex;
        & button {
          flex-grow: 1;
          margin: 0 3px;
          color: dimgrey;
          font-weight: bold;
          background-color: transparent;
          border: none;
          border-radius: 4px;
          outline: none;
          line-height: 2;
          transition: all 0.2s ease;
          min-width: fit-content;
          &:hover {
            background-color: rgba(100, 100, 100, 0.1);
            color: black;
            cursor: pointer;
          }
          &.active {
            background-color: rgba(100, 100, 100, 1);
            color: white;
          }
        }
      }
    }
    & .card-body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      & .field-row {
        direction: rtl;
        text-align: right;
        margin-bottom: 40px;
        min-width: 29%;
        flex-grow: 1;
        margin: 15px;
      }
      & .albumImageUploaderWrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        & .enabled {
          content: "+";
          display: flex;
          width: 140px;
          height: 140px;
          background-color: rgb(235, 235, 235);
          position: absolute;
          z-index: 2;
          font-size: 4em;
          color: dimgray;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin-top: 0em;
          cursor: pointer;
          outline: 2px dashed gray;
          /* padding: 56px; */
          line-height: initial;
          padding-top: 14px;
        }
        & .disabled {
          content: "";
          display: flex;
          width: 140px;
          height: 140px;
          background-color: dimgray;
          position: absolute;
          z-index: 2;
          font-size: 4em;
          color: dimgray;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin-top: 0em;
          cursor: not-allowed;
          /* padding: 56px; */
          line-height: initial;
          padding-top: 14px;
        }
      }
      & #map {
        margin: 15px;
        width: 100%;
      }
      & .mapWithMarker {
        width: 100%;
        margin: 15px;
        min-width: 770px;
        height: 450px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.partner-profile-section._rtl {
  & .form-card {
    direction: rtl;
    text-align: right;
    & .card-header {
      & .card-header-nav {
        flex-direction: row;
      }
    }
    & .card-body {
      & .table {
        & small {
          direction: rtl;
        }
      }
      & .offers-table {
        & td {
          text-align: right;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .partner-profile-section {
    & .form-card {
      & .card-body {
        & .mapWithMarker {
          min-width: 100% !important;

          height: 300px;
        }
      }
    }
  }
}
